h1 {
    font-size: 150%; font-family: "Poppins", sans-serif;
    background-color: #F78888;
    padding: 10px 5px; 
    border-radius: 15px;
    width: fit-content;
}
h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: #b19f9e;
    box-shadow: 0.1em 0.1em black;
    padding: 10px 5px; 
    border-radius: 15px;
    width: fit-content;
}
h3 {
    font-size: 120%;
    font-family: "Poppins", sans-serif;

}
#center {
    display: flex;
    justify-content: center;
}

#homebutton {
    background: #f6f20b;
}
.navbar {
    /*background-color: gray;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #0015ff;*/
    font-family: "Poppins", sans-serif;
}

.navLinks a{
    font-size: 24px;
    color: black;
    border-radius: 0.4em;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    gap: 20px;
    background: #90fe00;
    box-shadow: 0.1em 0.1em black;

}
.navLinks a:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

    /*.navLinks :hover{}*/

.navLinks {
    justify-content: center;
    display: flex;
    line-height: 48px;
    padding: 20px 0px 20px 0px;
    gap: 80px;
}



.box {
    display: flex;
    background-color: black;
    font-size: 26px;

}

body {
    color:rgb(19, 21, 21);
    justify-content: space-between;
    background-color: #2E2E2E;
}

#container { 
    padding: 10px 10px 10px 10px;
    flex: 1;
    background-color: #EAE0D5;
    font-family: "Poppins", sans-serif;
    /*padding: 2em;
    width: 400px; 
    border-radius: 15px;*/
    
}

#main_container {
    display: flex;
    width:auto;
    /*padding: 0px 120px 0px 120px;*/
    padding: 0px 0px 0px 0px;
    gap: 0px;
    background-color: #F4F4F4;
}

#mainimgcontainer {
    flex: 1;
    /*border-radius: 15px;*/
    overflow: hidden;
    flex-direction: row;
}
#mainimgcontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainimg {
    filter: grayscale(100%);
}

#languagebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2E2E2E;
    color: aliceblue;
    fill: white;
    gap: 16px;
}
.langsize {
    width: 128px;
    height: 128x;
    object-fit: cover;
}


.codeimg {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out; /* Smooth transition */
}

.codeimg:hover {
    filter: none;
}

#resumeContainer {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    gap: 10px;
}
#resumeSection {
    flex: 1;
    padding: 10px 10px 10px 10px;
    background-color: #ff7300;
    font-family: "Poppins", sans-serif;
    color: #2E2E2E;
    border-radius: 16px;
}
#resumeSectionTwo {
    flex: 1;
    padding: 10px 10px 10px 10px;
    background-color: #EAE0D5;
    font-family: "Poppins", sans-serif;
    color: #2E2E2E;
    border-radius: 16px;
}

/*
0015ff blue
ff00a1 pink 
90fe00 green
8400ff purple
f6f20b yellow
ff7300 orange
*/